/* ========= */
/* = FONTS = */
/* ========= */


@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Muli';
    src: url('../fonts/Muli/Muli-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}
/*
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
*/
@font-face {
    font-family: 'Oxygen Mono';
    src: url('../fonts/Oxygen_Mono/OxygenMono-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

/* ================== */
/* = ELEMENTS STYLE = */
/* ================== */

pre, code, tt {
  font-family: 'Oxygen Mono', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 85%;
  text-transform: none;
  text-decoration: none;
  /*letter-spacing: -0.05em;*/
  word-spacing: 0;
  line-height: 1.2;
}

pre { 
  /*background-color: #FdFdFd; */
  background-color:  #f0f0f0;
  /*border-radius: 2px;*/
  font-size: 75%;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
  padding: 0.3em .5em; 
  margin: .5em 0;
}

pre.prewrap {
  white-space : pre-wrap;
}

.highlight {
  background-color: rgb(253, 252, 208);
}

small,.small {
  font-size: 50%;
  font-style: italic;
  color: #555;
  
}

body {
  font-family: 'Muli', sans-serif;
  /*font-family: 'Play', sans-serif;*/
  /*font-family: 'Helvetica neu', 'Helvetica', sans-serif;*/
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.2;
  background-color: #fff;
  font-smoothing: antialiased;
  
  color:#333;
  -webkit-transition:background-color .5s;
  -moz-transition:background-color .5s;
  -o-transition:background-color .5s;
  -ms-transition:background-color .5s;
  transition:background-color .5s;
   
}
li {
  margin: .5em 0;
}
li > pre {
  margin: 0;
}
h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 250%;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
  margin:4% 0 0 0;  
  color: #888;
}
h2 {
  /*font-family: 'Playfair Display', serif;*/
  font-style: normal;
  font-weight: 700;
  font-size: 230%;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
  margin:0;
  color: #555;
}

h3 {
  /*font-family: 'Play', sans-serif;*/
  font-style: italic;
  font-weight: 400;
  font-size: 150%;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0;
  word-spacing: 0;
  line-height: 1.5;
  border:0;
  margin:0;
  color: #d0410f;
}

ul, ol
{
/*  list-style-position:inside;*/
  margin-top:.5em;
  margin-bottom:.5em;
  list-style-position: inside;
}
ul {
  list-style-type: disc;
}

li > ol
{
  list-style-type:lower-alpha;
}

/*
    table { border-collapse: collapse; }
    th { background-color: rgb(220, 220, 220); }
    td, th {
      text-align: center; padding-left: 1em; padding-right: 1em;
      border: thin solid rgb(150, 150, 150);
    }
*/

table {
  display: table;
  margin-bottom: 2em;
border-collapse:separate;
border-spacing: 0px;
border-color: black;
}

th {
  background-color:  #f0f0f0;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  font-weight: bold;
  color : #555;
  text-shadow: white 2px 2px 2px;
}

td {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

tr:first-child th {
border-top: 1px solid #ccc;
}

strong,em,b {
  color: #d0410f;
}
b {
  font-weight: 700;
}

code {background-color: #eee; padding: 0px; border: 1px solid #aaa ; border-radius: 8px}

/* =================== */
/* = UTILITY CLASSES = */
/* =================== */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.bottom {
  position: absolute;
  bottom: 0;
  display:block;
  width:100%;
}

.below {
  z-index:-10;
}
.upper {
  z-index:10;
}
.intro {
  font-size: 140%;
}

.left { display: block; float: left; }
.right { display: block; float: right; }
.right:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.center {margin:auto;}


.text_right {text-align: right;}
.text_center {text-align: center;}
.text_left {text-align: left;}

.x2 {
  font-size:120%;
}
.x-2 {font-size:80%;}
.x-3 {font-size:60%;}
.x-4 {font-size:50%;}
.x-5 {font-size:30%;}
.x3 {font-size:150%;}
.x4 {font-size:170%;}
.x5 {font-size:190%;}


.codeh { background-color: rgb(255,255,100); }
.nlcomment {color: grey; }


ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
  padding-left: 0;
}

.bad{
  color: #555;
  /*text-shadow:  rgba(1,1,1,0.1) 1px 1px 2px;*/
  background-color: rgba(0,0,0,.2);	
  /*border: 1px solid #aaa;*/
}
body.bad{
  background-color: black;
}

.outlook{
  color: #767573;
  background-color: #ECEAE7;
}
.outlook h2 {
  color:#555;
}


.three-columns {
  -webkit-column-count:3;
  -moz-column-count:3;
  column-count:3;
}
.two-columns {
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}


.threecols {
  width:100%;
}

.threecols::before, .threecols::after {
  display: table;
  content: "";
}
.threecols::after {
  clear: both;
}
.threecols > .first{
  float: left;
  width:30%;
  padding:0 0 0 1%;
  margin:0 3.5% 0 0;
}
.threecols > .firstsecond{
  float: left;
  width:63.5%;
  padding:0 0 0 1%;
  margin:0 3.5% 0 0;
}
.threecols > .second{
  float: left;
  width:30%;
  padding:0 0 0 1%;
  margin:0 3.5% 0 0;
}
.threecols > .secondthird{
  float: left;
  width:63.5%;
  padding:0 0 0 1%;
  margin:0 ;
}
.threecols > .third{
  float: left;
  width:30%;
  padding:0 0 0 1%;
  margin:0 ;
}

.twocols {
  width:100%;
}
.twocols::before, .twocols::after {
  display: table;
  content: "";
}
.twocols::after {
  clear: both;
}
.twocols > .first{
  float: left;
  width:47%;
  padding:0 0 0 1%;
  margin:0 3% 0 0;
}
.twocols > .second{
  float: left;
  width:47%;
  padding:0 0 0 1%;
  margin:0;
}




/* ======================= */
/* = MENU SPECIFIC STYLE = */
/* ======================= */

#menu_handle {
  z-index:1001;
  position:absolute;
  top:0;
  right:0;
  padding:0em .3em ;

	color: #aaa;
	text-align: right;
}
#menu {
  height:100%;
  /*width:600px;*/
  overflow-x: none;
  overflow-y: scroll;
  /*overflow: auto;*/
  z-index:1000;
  position:absolute;
  top:0;
  right:0;
  color:white;
  background-color: #333;
  
  -webkit-transition: opacity .5s , -webkit-transform 0.5s;
  -moz-transition:    opacity .5s ,    -moz-transform 0.5s;
  -ms-transition:     opacity .5s ,     -ms-transform 0.5s;
  -o-transition:      opacity .5s ,      -o-transform 0.5s;
  transition:         opacity .5s ,         transform 0.5s;

  -webkit-transform: translateX(600px);
  -moz-transform:    translateX(600px);
  -ms-transform:     translateX(600px);
  -o-transform:      translateX(600px);
  transform:         translateX(600px);

  opacity:0;
  filter:alpha(opacity=0);
}
#menu li {
  /*background-color: white;*/
}
#menu.active {
  opacity:.7;
  filter:alpha(opacity=70);
  z-index: 100;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 0s;
	-moz-transition:    opacity 1s,    -moz-transform 0.5s 0s;
	-ms-transition:     opacity 1s,     -ms-transform 0.5s 0s;
	-o-transition:      opacity 1s,      -o-transform 0.5s 0s;
	transition:         opacity 1s,         transform 0.5s 0s;

  -webkit-transform: translateX(0px);
  -moz-transform:    translateX(0px);
  -ms-transform:     translateX(0px);
  -o-transform:      translateX(0px);
  transform:         translateX(0px);
  
}
#menu > ul {
  margin:0;
  padding:0;
  list-style-type: none;
  text-align: right;
}
#menu a {
  color:white;
  text-decoration: none;
}
#menu a:hover {
  text-decoration: underline;
}


/* ======================= */
/* = PRETTYPRINT CLASSES = */
/* ======================= */

pre.prettyprint {
  
  position:relative;
  padding: 0.3em .5em;
  border:none;
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
}
pre.prettyprint::before {
  position:absolute;
  right:0;
  font-size: 250%;
  line-height: 100%;
  /*font-family: "Playfair Display", serif;*/
  font-style: italic;
  text-shadow: none;
  color:#aaa;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
  opacity: 0.2;
 
}

pre.lang-css::before {
  content:"CSS ";
}
pre.lang-html::before {
  content:"HTML ";
}
pre.lang-js::before {
  content:"JS ";
}
pre.lang-json::before {
  content:"JSON ";
}
pre.lang-java::before {
  content:"Java ";
}
pre.lang-py::before {
  content:"Python ";
}
pre.lang-c::before {
  content:"C ";
}
pre.lang-cpp::before {
  content:"C++ ";
}
pre.lang-xml::before {
  content:"XML ";
}
pre.lang-xhtml::before {
  content:"XHTML ";
}
pre.lang-sh::before {
  content:"sh ";
}

pre.nowatermark::before {
  content:"";
}
pre.nowatermark::after {
  content:"";
}

pre > p.jsfiddle {
  position:absolute;
  bottom:0;
  right:0;
  width:5%;
  padding:0;
  margin:0 .5%;
}
pre > p.jsfiddle  img {
  width:100%;
  font-size: 10%;
}
/* =============== */
/* = STEPS STYLE = */
/* =============== */

.step {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity:1;
  width: 800px;
  height: 500px;
  min-height: 300px;
  min-width: 500px;
  display: block;
  padding: 30px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: opacity .2s;
  -moz-transition: opacity .2s;
  -o-transition: opacity .2s;
  -ms-transition: opacity .2s;
  transition: opacity .2s;

  /*border: 1px #eee solid;*/
}

/*  box-shadow: 0 2px 6px rgba(0, 0, 0, .1);*/
/*  border: 1px solid rgba(0, 0, 0, .3);*/


.step.active {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1 !important; 
}
/* HIDE INACTIVE SLIDES*/
.step:not(.active) { 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0 !important; 
}








/** NOT SUPPORTED STYLES **/
.not-supported .step {
	position: relative;
	opacity: 1;
	margin: 20px auto;
}






/** PRINT STYLE **/
@media print {
	body {
		background: white;
		text-shadow: none;
    
	}
	.hint {
		display: none;
	}
	#menu,#menu_handle {
	  display: none;
	}
	#simple {
		width: auto; 
		margin: 0 5%;
		padding: 0; 
		border: 0;
		float: none !important;
		color: black; 
		background: transparent;
	}
	.step {
  
/*    page-break-after: always;
    */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    clear: both;
    display: block;
    float: none !important;
    position: relative;
    margin: 20px auto;
    -webkit-transition: rotate(0deg);
    -moz-transition: rotate(0deg);
    -o-transition: rotate(0deg);
    -ms-transition: rotate(0deg);
    transition: rotate(0deg);
    
  }
	.step:not(.active) {
		opacity: 1;
	}
}
