@font-face {
  font-family: "Arimo";
	font-weight: 400;
	font-style: normal;
  src: url("../fonts/arimo/Arimo-Regular.ttf");
}
@font-face {
  font-family: "Arimo-Bold";
	font-weight: 700;
	font-style: normal;
  src: url("../fonts/arimo/Arimo-Bold.ttf");
}
@font-face {
  font-family: "Arimo-Italic";
	font-weight: 400;
	font-style: italic;
  src: url("../fonts/arimo/Arimo-Italic.ttf");
}
@font-face {
  font-family: "Arimo-BoldItalic";
	font-weight: 700;
	font-style: italic;
  src: url("../fonts/arimo/Arimo-BoldItalic.ttf");
}

@font-face {
  font-family: "Lobster";
	font-weight: 400;
	font-style: normal;
  src: url("../fonts/lobster/Lobster-Regular.ttf");
}
